/* Custom Fonts */
@font-face {
    font-family: 'PTSans';
   src: url('fonts/HM.ttf') format('truetype');
    /*
    src: url('fonts/PT-Sans.woff') format('woff');
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
         */
    font-weight: normal ;
    font-style: normal;
   }
   /*
   @font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans.woff') format('woff');
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
    font-weight: bold ;
    font-style: normal;
   }
   @font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans.woff') format('woff');
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
    font-weight: normal ;
    font-style: italic;
   }
   @font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans.woff') format('woff');
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
    font-weight: bold ;
    font-style: italic;
   }
   /* END*/
html{
    background-color: #283044;
}
body{
    font-family: 'PTSans', Arial, sans-serif;
    font-size: 87%;
}
.container{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
    background-color: #FFF;
	padding-top: 0px;
	padding-left: 40px;
	box-sizing: border-box;
    border-radius: 6px;
 
 
}
/*Responsive: For big screens*/
@media screen and (max-width: 1300px){

    body{
        font-size: 17px;
    }
    .container{
        max-width: 1200px;
    }
}
/*Responsive: For small screens only if device is 480 or smaller*/
@media screen and (max-width: 480px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.slide {
    width: 100%;
    position: relative;
}

.slide img{
    display: block;
}
.slide-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
}
.slide-text{
    margin: 0;
}
/*animaion
/*to work in Google Chrome
@-webkit-keyframes slideSpin {

    50%{
        transform: translateX(150%) scale(.5);
    }

    75%{
        transform: translateX(150%) rotate(180deg) scale(.5);
    }
    100%{
        transform:  translateX(300%) rotate(180deg);
    }
}

@keyframes slideSpin {

    50%{
        transform: translateX(150%) scale(.5);
    }

    75%{
        transform: translateX(150%) rotate(180deg) scale(.5);
    }
    100%{
        transform:  translateX(300%) rotate(180deg);
    }
} */

img {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
   /* animation: slideSpin 2s;
    /*animation: slideSpin 2s infinite alternate forwards;*/
    /*animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     /*to work in Google Chrome*/
    /*-webkit-animation: slideSpin 2s infinite alternate forwards;*/
}

.rex:hover {
    transform: scale(1.01);
}

.main-area{
    width: 60%;
    float: left;
    padding-right: 60px;
    box-sizing: border-box;
  
}


.main-area h1{
    word-spacing: 7px;
    letter-spacing: 3px;
    text-shadow: 2px 6px 3px #999999;
    text-transform: uppercase;
 
}

/* BOUNCE ANIMATION*/
@keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
     40%{
     
        transform: translateY(0); 
     }

     55%{
        transform: translateY(-6px); 
     }
     70%{
        opacity: 1;
        transform: translateY(0); 
     }
     80%{
        transform: translateY(-3px); 
     }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
     40%{
     
        transform: translateY(0); 
     }

     55%{
        transform: translateY(-6px); 
     }
     70%{
        opacity: 1;
        transform: translateY(0); 
     }
     80%{
        transform: translateY(-3px); 
     }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* END BOUNCE ANIMATION*/

.box-a {
    opacity: 0;
    -webkit-animation: fadeBounce 2s forwards;
    animation: fadeBounce 2s forwards;
    background-color: #ecf1f5;
    padding: 20px 20px 0 20px;
    border: 2px solid #ecf1f5;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px #000;
}

.boxes :nth-child(2) .box-a {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.boxes :nth-child(3) .box-a {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

/* to jump on the screen*/

.row {
    margin-right: -20px;
}
.col
{
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}
.col-xs-6 {
    width: 50%;

}
/*adicionar o col para todos os tamanhos, copiar o codigo do cara
criar o media para o tamanho do screen para o xs, lg, medio, entao a pagina se adapta ao tamanho do screen*/
.sidebar{
	width: 40%;
	float: left;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 110%;
	background-color: #d1d3e7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d1d3e7), to(#FFF));
	background-image: -webkit-linear-gradient(top, #d1d3e7, #FFF);
	background-image: -moz-linear-gradient(top, #d1d3e7, #FFF);
	background-image: -ms-linear-gradient(top, #d1d3e7, #FFF);
	background-image: -o-linear-gradient(top, #d1d3e7, #FFF);
    background-image: linear-gradient(to bottom, #d1d3e7, #FFF);
    border-style: solid;
   /* border-color: green; */
    border-radius: 10px;
    border-style: none;
    text-align: center;
}

.box-b {
    text-align: center;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    border-radius: 70%;
    transition:  all 1s ease-out;
    transition-timing-function: ease-in;
}
.box-b:hover {
    transform: rotate(360deg);
}

/*Responsive: For small screens. Aula 48 */
@media screen and (max-width: 700px){
    .main-area,
    .sidebar{
        width: auto;
        float: none;
    }
    .main-area{
        padding-right: 0;
    }
}
@media screen and (max-width: 200px){
    .hide-small{
        display: none;
    }
}
header{
    padding-top: 20px;
    color: #283044;
    background-image: url(../imagens/cats.jpg);
    background-position: right center;
    background-size: 400px 210px;
    background-repeat: no-repeat;
}
header h1{
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
header {
    margin: 0;
}
/*Site navigation */
.site-nav {
    margin-top: 15px;
    border-radius: 6px;
  
    }
    
.site-nav ul{
        margin: 0;
        padding: 0;
 }
    
.site-nav li {
        list-style: none;
        float: left;
        margin-right: 5px;
}
    .site-nav a {
    display: block;    
    text-decoration: none;
    color: #78A1BB;
    padding: 10px 20px;
    border-bottom: none;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px #000;
    /*change color of the buttons, can use "all" */
    transition-property: color, background-color;
    transition-duration: 2s;
    }
    
    .site-nav a:hover {
        background-color: #283044;
        transform: scale(1.02);
    }
    /*End site navigation */

    .group:before,
    .group::after
    {
    content: "";
    display:table;
    }
    .group::after{
        clear: both;
    }
    .group{
        zoom:1;
    }