h1{
    color:rgb(107, 138, 230);
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    font-style: italic;
    
}

header p{
    color:rgb(147, 76, 219); 
}

header p span{
    color: rgb(111, 111, 207);
}
.highlight{
    background-color: burlywood;
}
footer .highlight{
    background-color: cadetblue;
}

p{
    color: tomato;
}
footer p{
    color: rgb(110, 110, 34);
}
.highlight{
    color:rgb(42, 133, 124); 
}