.article-body{
    background-color: lightgray;
    padding: 30px;
    border: 3px solid black;
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
}
.box-b{
    background-color: rgb(154, 111, 194);
    width: 350px;
    height: 150px;

}
html{
    background-color: #869960;
}
body{
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}
img{
    max-width: 100%;
}



/*Banner Overlay */ 

.image-banner{
    position: relative;
    top: 10px;
    left: 10px;
    overflow: hidden;
}
.image-banner img{
    display: block;
    transition-property: all;
    transition-duration: 3s;
    /* or can be: transition: all 1s*/
}
.image-banner:hover img {
    transform: scale(1.5);
}

.banner-description{
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(175, 180, 184);
    background-color: rgba(0, 0, 0, .40);
    padding-left: 20px;
    padding-bottom: 40px;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(100%);
}
.image-banner:hover .banner-description{
    opacity: 1;
    transform: translateY(0);
}

.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 234, 222);
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    
}
header{
    padding-top: 20px;

    color: #617140;
}
header h1{
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
header p{
    margin: 0;
}

.main-area{
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.sidebar{
    width: 34%;
    float: left;
    background-color: #d5daca;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}

footer{
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.group:before,
.group::after
{
content: "";
display:table;
}
.group::after{
    clear: both;
}
.group{
    zoom:1;
}
.content-area{
    border-top: 3px solid#617140;
    border-bottom: 3px solid rgb(203, 233, 194);
}


/*Site navigation */
.site-nav {
margin-top: 20px;
}

.site-nav ul{
    margin: 0;
    padding: 0;

}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
display: block;    
text-decoration: none;
color: #91a863;
padding: 10px 20px;
border: 3px solid #617140;
border-bottom: none;
}

.site-nav a:hover {
    background-color: #617140;
}